@use './../../styles/vars';

.player {
  max-width: 33rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.infos {

  &__picture {
    margin: auto;
    height: 20rem;
    background-position: center;
    background-size: cover;
    border-radius: vars.$radius;
    position: relative;
  }

  &__content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: vars.$gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: vars.$gutter;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: bold;
    margin-left: vars.$gutter;
  }

  &__category {
    display: block;
    background-color: vars.$color--orange-light;
    padding: 0.5rem;
    color: vars.$color--grey-dark;
    border-radius: vars.$radius;
    font-size: 0.8em;
  }

  &__playpause {
    background-color: vars.$color--blue-light;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
}

.controls {
  margin-top: vars.$gutter;
  display: flex;
  justify-content: center;

  &__volume {
    display: flex;

    &-text {
      margin-right: vars.$gutter;
    }
  }
}

.music-list {
  margin-top: vars.$gutter*3;
  padding-right: vars.$gutter;
  flex: 1;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  &::-webkit-scrollbar-track {
    background: vars.$color--blue-light;        /* color of the tracking area */
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: vars.$color--grey-dark;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid vars.$color--blue-light;  /* creates padding around scroll thumb */
  }
}

