@use "../../styles/vars";

.ask-reset-page {
  span {
    color: blue;
    text-decoration: underline;
  }

  &__title {
    margin-top: 5rem;
    font-size: 3rem;
  }

  &__content {
    margin-top: 7rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: vars.$gutter;
    margin: 5rem;
  }

  &__input {
    border-radius: vars.$radius;
    margin-bottom: 1rem;
    text-align: center;
    height: 30px;
    width: 250px;
    margin: 0rem auto 2rem auto;
  }

  &__ask-reset {
    background-color: vars.$color--green-light;
    border-radius: vars.$radius;
    width: 150px;
    height: 30px;
    margin: auto;
  }

}
