@use "../../../styles/vars";

.book-reading-footer {
  height: 5rem;
}

.font-size {
  &__button {
    font-size: 2em;
    width: 3rem;
    height: 3rem;
    line-height: 0.4;
    color: vars.$color--yellow-light;
    margin: vars.$gutter;
    border: 1px solid vars.$color--yellow-light;
    border-radius: 50%;
  }
}