@use './../../styles/vars';
@use "sass:color";

.nav {
    background-color: vars.$color--grey-very-dark;

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: vars.$gutter*4;
        justify-content: center;
    }
    
    &__listItem {
        text-decoration: underline;
        color: white;
        font-family: vars.$main-font;
        margin: vars.$gutter;
    }

}

.reading-page {
    .app-footer {
        display: none;
    }
}