@use "../../styles/vars";
@use "sass:color";

.book-review {
  padding: vars.$gutter;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
  }

  &__text {
    background-color: black;
    flex: 1;
  }
}

@media screen and (min-width: vars.$tablet) {

  .book-review {
    padding: vars.$gutter * 4;
  }

}

@media screen and (min-width: vars.$desktop) {

  .book-review {
    max-width: 80rem;
    margin: auto;
  }

}