@use "../../styles/vars";

.login-page {
  span {
    color: blue;
    text-decoration: underline;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: vars.$gutter;
    margin-top: 10rem;
  }

  &__input {
    border-radius: vars.$radius;
    margin-bottom: 1rem;
    text-align: center;
    height: 30px;
    width: 250px;
    margin: 0rem auto 2rem auto;
  }

  &__connexion {
    background-color: vars.$color--green-light;
    border-radius: vars.$radius;
    width: 150px;
    height: 30px;
    margin: auto;
  }

  &__subscription {
    background-color: vars.$color--green-light;
    border-radius: vars.$radius;
    width: 150px;
    height: 30px;
    margin-top: 2rem;
  }

  &__forgotten {
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    text-decoration: underline;
  }

}

@media only screen and (max-width: 768px) {
  .login-page {
    

    &__input {
      border-radius: vars.$radius;
      margin-bottom: 1rem;
      text-align: center;
      height: 30px;
      width: 250px;
      margin: auto;
      margin: 0rem auto 2rem auto;
    }

    &__connexion {
      background-color: vars.$color--green-light;
      border-radius: vars.$radius;
      color: darkgray;
      width: 150px;
      height: 40px;
      margin: auto;
      margin-top: 1.5rem;
    }

    &__subscription {
      background-color: vars.$color--green-light;
      border-radius: vars.$radius;
      color: darkgray;
      width: 150px;
      height: 40px;
      margin-top: 2rem;
    }

    &__forgotten {
      margin-top: 5rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }

    &__account {
      margin-top: 10rem;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }

}

@media screen and (max-width: 1440px) {
  .login-page {
  
    &__input {
      border-radius: vars.$radius;
      margin-bottom: 1rem;
      text-align: center;
      height: 30px;
      width: 250px;
      margin: auto;
      margin: 0rem auto 2rem auto;
    }

    &__connexion {
      background-color: vars.$color--green-light;
      border-radius: vars.$radius;
      width: 150px;
      height: 40px;
      margin: auto;
      margin-top: 1.5rem;
    }

    &__subscription {
      background-color: vars.$color--green-light;
      border-radius: vars.$radius;
      width: 150px;
      height: 40px;
      margin-top: 2rem;
    }

    &__forgotten {
      margin-top: 5rem;
    }

    &__account {
      margin-top: 10rem;
    }
  }
}