@use './../../styles/vars';
@use "sass:color";

.header-app {

    padding: vars.$gutter vars.$gutter*2;
    background-color: color.scale(vars.$color--grey-dark, $blackness: 80%);
    box-shadow: 1px 1px 3px color.scale(vars.$color--grey-dark, $blackness: 100%);
    position: sticky;
    min-height: 6rem;

    &__title {
        font-family: vars.$title-font;
        color: vars.$color--orange-light;
        font-size: 1.7em;
        font-weight: bold;
        display: flex;
        justify-content: start;
        align-items: center;
        line-height: 1.6;
        z-index: -1;
    }

    &__element {
        float: right;
        margin-left: vars.$gutter;
    }

    &__icon {
        background-color: vars.$color--green-light;
        display: block;
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: vars.$color--grey-dark;
        box-shadow: 0 0 3px color.scale(vars.$color--grey-dark, $blackness: 100%);
        transition: 0.5s;

        &:hover {
            background-color: vars.$color--orange-medium;
        }
    }
}

@media screen and (min-width: vars.$tablet) {
    
    .header-app {

        &__element {
            &--audio-player {
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &--categories {
                float: left;
                margin-left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__title {
            display: block;
            position: absolute;
            top: 1rem;
            text-align: center;
            width: calc(100% - (vars.$gutter * 4));
        }
    }
}