@use "../../styles/vars";

.register-page {
   
    &__form {
        display: flex;
        flex-direction: column;
        padding: vars.$gutter;
        margin-top: 10rem;
    }

    &__label {
        margin-bottom: 1rem;
    }

    &__input {
        
        border-radius: vars.$radius;
        margin-bottom: 1rem;
        text-align: center;
        height: 30px;
        width: 250px;
        margin: 0rem auto 4rem auto;
    }

    &__register {
        background-color: vars.$color--green-light;
        height: 30px;
        width: 150px;
        margin: 2rem auto 2rem auto;
        border-radius: vars.$radius;
    }

    &__connect {
        margin-top: 5rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }

    &__connexion {
        background-color: vars.$color--green-light;
        height: 30px;
        width: 150px;
        margin: 2rem auto 2rem auto;
        border-radius: vars.$radius;
    }
}